{% extends 'base.html' %}
{% load static %}


{% block main %}

<link rel="stylesheet" href="{% static 'index.css' %}">

<div class="content">
    <h2>Blog profissional de</h2>
    <h1>Otávio Silva Cândido</h1>
    <div class="projects">
        <h2>Projetos</h2>
        {% for project in projects %}
            <article>
                <h3>{{ project.name }}</h3>
                <h4>{{ project.coordination }}</h4>
                <p>{{ project.description }}</p>
            </article>
        {% endfor %}
    </div>

    <div class="technologies">
        <h2>Tecnologias</h2>
        <div class="technologies-container">

            {% for technology in technologies %}
                <img src="{{technology.icon.url}}">
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}